.btn {
   width: 140px;
   width: 100%;
   max-width: max-content;
   height: 40px;
   display: grid;
   align-items: center;
   background: linear-gradient(270deg, var(--mobileMenu-bg-color) 0%, var(--header-bg-color2)100%);
   font-size: 0.95rem;
   font-weight: 700;
   border: 1px solid var(--header-bg-color2);
   border-radius: 4px;
   transition: all 2s;
}

.btn__link {
   display: grid;
   text-decoration: none;
   color: rgb(165, 193, 255);
   font-family: "Tomorrow";
   transition: all 2s;
}

.btn:hover {
   cursor: pointer;
   scale: 1.05;
   transition: all 0.5s;
}

.btn:hover .homeBtn__link {
   color: lightgray;
   transition: all 0.5s;
}