.header__burger {
   display: none;
   justify-content: end;
   padding-right: 7%;
}

.header__burger-btn {
   width: 35px;
   height: 35px;
   display: grid;
   justify-items: center;
   align-items: center;
   border: none;
   border-radius: 50%;
   background-color: var(--link-color);
}

.header__burger-btn:hover {
   cursor: pointer;
   box-shadow: 0px 0px 5px var(--link-color);
}

.header__closeBtn {
   width: 20px;
   height: 20px;
   transition: all 2s;
}

.header__burger-btn:hover .header__closeBtn {
   cursor: pointer;
   color: var(--link-color-hover);
   transition: all 0.5s;
}

@media screen and (max-width: 700px) {
   .header__burger {
      display: grid;
      min-width: 100px;
   }
}