.pageTitle_container {
   padding: 2vh 0 3vh;
   width: 100%;
}

.pageTitle_title {
   font-size: 1.6rem;
   max-width: 290px;
   overflow: hidden;
}

.pageTitle_text-center {
   text-align: center;
}

.pageTitle_text-right {
   text-align: right;
}

@media screen and (max-width: 1200px) {
   .pageTitle_container {
      padding: 1vh 0 2vh;
   }

   .pageTitle_title {
      font-size: 1.4rem;
   }
}

@media screen and (max-width: 800px) {
   .pageTitle_container {
      padding: 1vh 0 1vh;
   }

   .pageTitle_title {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 500px) {
   .pageTitle_title {
      font-size: 1.1rem;
   }
}