.articleContentTemplate__title {
   font-size: 1.4em;
   padding: 20px 0 10px;
}

@media screen and (max-width: 1200px) {
   .articleContentTemplate__title {
      font-size: 1.25em;
      padding: 18px 0 9px;
   }
}

@media screen and (max-width: 1000px) {
   .articleContentTemplate__title {
      font-size: 1.1em;
      padding: 16px 0 8px;
   }
}