.newsCategoryBtn__link {
   max-width: auto;
   display: flex;
   text-decoration: none;
   transition: all 2s;
   white-space: nowrap;
   margin-right: 2vw;
}

.newsCategoryBtn__link:last-child {
   margin-right: 0;
}

.newsCategoryBtn__link:hover {
   cursor: pointer;
   color: var(--link-color-hover);
   transition: all 0.5s;
}

.newsCategoryBtn__btn {
   background-color: transparent;
   border: none;
   font-weight: 700;
   color: var(--link-color);
   transition: all 2s;
}

.newsCategoryBtn__link:hover .newsCategoryBtn__btn {
   cursor: pointer;
   color: var(--link-color-hover);
   transition: all 0.5s;
}


@media screen and (max-width: 1200px) {
   .newsCategoryBtn__btn {
      font-size: 0.9em
   }
}

@media screen and (max-width: 1000px) {
   .newsCategoryBtn__btn {
      font-size: 0.8em
   }
}

@media screen and (max-width: 800px) {
   .newsCategoryBtn__link {
      margin-right: 4vw;
   }
}

@media screen and (max-width: 400px) {
   .newsCategoryBtn__link {
      margin-right: 6vw;
   }
}