.homePage {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr, 20px, 80px;
   place-items: center;
   font-family: "Tomorrow", Arial, Helvetica, sans-serif;
   background: linear-gradient(90deg, var(--mobileMenu-bg-color) 0%, var(--header-bg-color)100%);
}