.header__logo {
   align-self: start;
   min-width: 140px;
   min-height: 40px;
   padding: 0 30px;
   transition: all 2s;
}

.header__logo:hover {
   scale: 1.05;
   transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
   .header__logo {
      min-width: 140px;
      min-height: 30px;
      padding: 0 30px;
   }
}


@media screen and (max-width: 700px) {
   .header__logo {
      min-width: 70px;
      max-width: 130px;
      min-height: 30px;
      padding: 0 15px;
   }
}

@media screen and (max-height: 450px) and (max-width: 1000px) {
   .header__logo {
      min-width: 70px;
      max-width: 110px;
      min-height: 20px;
      padding: 0 15px;
   }
}