.newsCategoryBtns__container {
   display: grid;
   grid-template-rows: 32px 24px;
}

.newsCategoryBtns__title {
   font-size: 1.3em;
}

.newsListCategotyBtns__btnsList {
   max-width: 500px;
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
}

@media screen and (max-width: 1200px) {
   .newsCategoryBtns__title {
      font-size: 1.2em;
   }

   .newsListCategotyBtns__btnsList {
      grid-template-columns: 49px 60px 115px 110px;
   }
}

@media screen and (max-width: 1000px) {
   .newsCategoryBtns__title {
      font-size: 1.1em;
   }

   .newsListCategotyBtns__btnsList {
      grid-template-columns: 44px 53px 103px 100px;
   }
}

@media screen and (max-width: 400px) {
   .newsCategoryBtns__container {
      padding-bottom: 35px;
   }

   .newsCategoryBtns__title {
      font-size: 1.1em;
   }

   .newsListCategotyBtns__btnsList {
      grid-template-columns: 103px 100px;
      grid-template-rows: 1fr 1fr;
      justify-items: start;
      gap: 1vh 10vw;
   }
}