.newsCategoryBtns__container {
   display: grid;
   grid-template-rows: 32px 24px;
}

.newsCategoryBtns__title {
   font-size: 1.3em;
}

.newsListCategotyBtns__btnsList {
   max-width: 550px;
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
}

@media screen and (max-width: 1200px) {
   .newsCategoryBtns__title {
      font-size: 1.2em;
   }
}

@media screen and (max-width: 1000px) {
   .newsCategoryBtns__title {
      font-size: 1.1em;
   }
}

@media screen and (max-width: 400px) {
   .newsCategoryBtns__container {
      padding-bottom: 15px;
   }

   .newsCategoryBtns__title {
      font-size: 1.1em;
   }
}