.laptopDisplay__overview {
   font-size: 1rem;
   padding: 20px 0;
}

.laptopDisplalaptopDisplay__overviewTitle {
   font-size: 1.5rem;
   color: var(--text-color);
}

.laptopDisplay__overviewText {
   line-height: 175%;
}