.promoCatOffers__container {
   width: 100%;
   display: grid;
   grid-template-rows: 50px 0.9fr;
   row-gap: 2vh;
}

.promoCatOffers__title {
   display: grid;
   text-align: center;
   font-size: 1.5em;
   min-height: 50px;
}

.promoCatOffers__cardsList {
   display: grid;
   grid-template-columns: repeat(4, minmax(140px, 200px));
   grid-template-rows: 0.9fr;
   column-gap: 20px;
   justify-content: center;
   justify-items: center;
}

@media screen and (max-width: 1200px) {
   .promoCatOffers__title {
      font-size: 1.3em;
   }
}

@media screen and (max-width: 1000px) {
   .promoCatOffers__container {
      grid-template-rows: 30px 1fr;
   }

   .promoCatOffers__title {
      font-size: 1.2em;
   }

   .promoCatOffers__cardsList {
      grid-template-columns: repeat(2, minmax(140px, 160px));
      grid-template-rows: repeat(2, minmax(140px, 1fr));
      gap: 1vh 3vh;
   }
}

@media screen and (max-width: 800px) {
   .promoCatOffers__cardsList {
      grid-template-rows: repeat(2, minmax(140px, 1fr));
   }
}

@media screen and (max-width: 450px) {
   .promoCatOffers__cardsList {
      grid-template-columns: repeat(2, minmax(140px, 150px));
   }
}

@media screen and (max-width: 400px) {

   .promoCatOffers__cardsList {
      grid-template-columns: repeat(2, minmax(140px, 140px));
      gap: 1vh 1vh;
   }
}