.newsArticleAuthor__container {
   display: grid;
   grid-template-columns: 70px 350px;
}

.newsArticleAuthor__img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
}

.newsArticleAuthor__info {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   align-items: center;
   padding-left: 15px;
}

@media screen and (max-width: 1200px) {
   .newsArticleAuthor__container {
      grid-template-columns: 65px 350px;
   }

   .newsArticleAuthor__info {
      font-size: 0.9em;
   }
}

@media screen and (max-width: 1000px) {
   .newsArticleAuthor__container {
      grid-template-columns: 60px 350px;
   }

   .newsArticleAuthor__info {
      font-size: 0.8em;
   }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 500px) {
   .newsArticleAuthor__container {
      grid-template-columns: 60px 305px;
   }
}

@media screen and (max-width: 400px) {
   .newsArticleAuthor__container {
      grid-template-columns: 50px 225px;
   }

   .newsArticleAuthor__info {
      font-size: 0.75em;
   }
}