header {
   display: grid;
   grid-area: header;
   grid-template-columns: 1fr;
   grid-template-rows: 60px 100px;
   row-gap: 0 10px;
   align-items: center;
   justify-content: center;
   background: linear-gradient(90deg, var(--header-bg-color) 0%, var(--header-bg-color2)100%);
   z-index: 10;
}

.header__row1 {
   display: grid;
   grid-template-columns: 260px 1fr 260px;
   grid-template-rows: 60px;
   background-color: aqua;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
}

.header__row2 {
   display: none;
   grid-template-columns: 1fr;
   grid-template-rows: 100px;
   background-color: rgba(137, 43, 226, 0.589);
   margin: 0;
   padding: 0;

}

@media screen and (max-width: 750px) {
   .header__row1 {
      grid-template-columns: 230px 1fr 230px;
      row-gap: 0 3px;
   }
}



@media screen and (max-width: 700px) {
   .header__row1 {
      grid-template-columns: 130px 1fr 130px;
      background-color: aquamarine;
   }

   .header__row2 {
      display: grid;
      width: 100vw;
      height: 94vh;
      margin-bottom: -790px;
   }

   .openMenu nav {
      display: grid;
   }
}

@media screen and (max-width: 500px) {
   .header__row1 {
      grid-template-columns: 1fr 1fr;
      background-color: aquamarine;
   }
}