.productDisplay__priceArea {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 5px;
}

.productDisplay__price {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
}

.productDisplay__price>div {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   font-size: 1.5rem;
   color: var(--text-color);
}

.productDisplay__price>div:first-child {
   color: var(--text-color);
}

.productDisplay__discountAvailable {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
   color: var(--text-color);
}

.productDisplay__discountAvailable div:first-child {
   font-size: 0.9rem;
   color: var(--text-color);
}

.productDisplay__discountAvailable div:first-child span {
   color: var(--link-color);
}

.productDisplay__discountAvailable div:first-child .productDisplay__discountDate {
   color: var(--text-color);
   white-space: nowrap;
}

.productDisplay__priceDiscount {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 0.3rem;
}

.productDisplay__priceDiscount>div {
   font-size: 1.0rem;
   text-align: center;
   color: var(--link-color)
}

.productDisplay__priceDiscount>div:first-child {
   color: var(--link-color-hover);
   text-decoration: line-through;
   font-style: italic;
}

@media screen and (max-width: 1200px) {
   .productDisplay__price>div {
      font-size: 1.35rem;
   }

   .productDisplay__discountAvailable div:first-child {
      font-size: 0.8rem;
   }

   .productDisplay__priceDiscount>div {
      font-size: 0.9rem;
   }
}

@media screen and (max-width: 1000px) {
   .productDisplay__price>div {
      font-size: 1.2rem;
   }

   .productDisplay__discountAvailable div:first-child {
      font-size: 0.7rem;
   }

   .productDisplay__priceDiscount>div {
      font-size: 0.8rem;
   }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 500px) {}