.productDisplay__priceArea {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 5px;
}

.productDisplay__price {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
}

.productDisplay__price>div {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   font-size: 1.5rem;
   color: var(--text-color);
}

.productDisplay__price>div:first-child {
   display: flex;
   font-size: 1.5rem;
   color: var(--text-color);
}

.productDisplay__discountAvailable {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
   color: var(--text-color);
}

.productDisplay__discountAvailable div:first-child {
   font-size: 0.9rem;
   color: var(--link-color);
   color: var(--text-color);
}

.productDisplay__discountAvailable div:first-child span {
   color: var(--link-color);
}

.productDisplay__priceDiscount {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 0.3rem;
}

.productDisplay__priceDiscount>div {
   font-size: 1.0rem;
   text-align: center;
   color: var(--link-color)
}

.productDisplay__priceDiscount>div:first-child {
   color: var(--link-color-hover);
   text-decoration: line-through;
   font-style: italic;
}