.laptopDisplay__specificationsMaintTitle {
   font-weight: 700;
   font-size: 1.5rem;
   color: var(--text-color);
}

.laptopDisplay__specificationsArea {
   padding: 20px 0;
}

.laptopDisplay__specSection {
   padding: 15px 0;
}

.laptopDisplay__specTitle {
   color: var(--link-color2);
   font-weight: 700;
   font-size: 1.2rem;
}

.laptopDisplay__specText {
   font-size: 1rem;
   line-height: 130%;
   padding: 5px 0;
}

.laptopDisplay__featureName {
   font-weight: 700;
   padding-right: 15px;
}