.welcomeParagraph__container {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: 1fr minmax(0px 300px);
}

.welcomeParagraph__title {
   max-height: 1fr;
   display: grid;
   text-align: center;
   font-size: 1.6em;
   font-weight: 700;
}

.welcomeParagraph__text {
   display: grid;
}

@media screen and (max-width: 1200px) {
   .welcomeParagraph__title {
      font-size: 1.4rem;
   }

   .welcomeParagraph__text {
      font-size: 0.9em;
   }
}

@media screen and (max-width: 1000px) {
   .welcomeParagraph__title {
      font-size: 1.2rem;
   }

   .welcomeParagraph__text {
      font-size: 0.8em;
   }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 500px) {
   .welcomeParagraph__title {
      font-size: 1.1rem;
   }
}