:root {}

.news__section {
   display: grid;
   grid-area: news;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   align-items: start;
   justify-content: center;
   padding: 60px 10px;
   background: linear-gradient(90deg, var(--header-bg-color) 0%, var(--header-bg-color2)100%);
}

.news__cardsList {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(4, minmax(70px, auto));
   align-items: start;
   justify-content: center;
   row-gap: 20px;
}