@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #181872;
  --text-color: aquamarine;
  --link-color: rgb(224, 224, 224);
  --link-color-hover: #ce0000;
  --link-active-color: aquamarine;
  --bg-color2: black;
  --video-text-color: aquamarine;
  --video-bg-color: #000a3067;
  --video-text-shadow: rgb(6, 77, 53);
}

html, body {
  height: 100%;
}

.App {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 60px 0fr 1fr 1fr;
  grid-template-areas:
    "header header"
    "promo_content promo_content"
    "page news"
    "footer footer";
  height: 100vh;
  font-family: "Tomorrow", Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 16px;
}

@media screen and (max-width: 1500px) {
  .App {
    grid-template-rows: 60px 0fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 0fr 1fr 1fr 1fr;
    grid-template-areas:
      "header "
      "promo_content"
      "page"
      "news"
      "footer";
  }
}

@media screen and (max-width: 500px) {}

@media screen and (max-height: 450px) and (max-width: 1000px) {
  .App {
    grid-template-rows: 35px 0fr 1fr 1fr 1fr;
  }
}