.banner__section {
   display: flex;
   align-items: center;
   justify-content: center;
   grid-area: promo_content;
   width: 100%;
   height: 668px;
   overflow: hidden;
   position: relative;
   background-color: var(--header-bg-color);
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
   .banner__section {
      height: 400px;
   }
}

@media screen and (max-width: 768px) {
   .banner__section {
      height: 300px;
   }
}

@media screen and (max-width: 500px) {}

@media screen and (max-height: 1000px) and (max-width: 1300px) {
   .banner__section {
      max-height: 300px;
   }
}

@media screen and (max-height: 550px) and (max-width: 1000px) {
   .banner__section {
      height: calc(100vh - 35px);
      max-height: calc(100vh - 35px);
   }
}

@media screen and (max-height: 330px) and (max-width: 600px) {
   .banner__section {
      height: calc(100vh - 35px);
      max-height: calc(100vh - 35px);
   }
}