.newsListPage {
   display: grid;
   grid-area: page;
   grid-template-columns: 10vw 1fr;
   place-items: center;
   font-family: "Tomorrow", Arial, Helvetica, sans-serif;
   background: linear-gradient(90deg, var(--mobileMenu-bg-color) 0%, var(--header-bg-color)100%);
}

.newsListPage__container {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: 0.2fr, 1fr;
   align-content: start;
   padding: 40px 2% 90px 0;
}

@media screen and (max-width: 1200px) {
   .newsListPage {
      grid-template-columns: 5vw 1fr;
   }

   .newsListPage__container {
      row-gap: 1vh;
      padding: 30px 2% 90px 0;
   }
}

@media screen and (max-width: 1000px) {
   .newsListPage__container {
      row-gap: 2vh;
      padding: 30px 2% 90px;
   }
}

@media screen and (max-width: 800px) {
   .newsListPage {
      grid-template-columns: 1fr;
      background: linear-gradient(90deg, var(--mobileMenu-bg-color) 0%, var(--header-bg-color2)100%);
   }
}

@media screen and (max-width: 400px) {}