.computerDisplay__mainInfo {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-bottom: 50px;
}

.computerDisplay__img {
   width: 100%;
   height: 100%;
   max-width: 200px;
}

.computerDisplay__info {
   width: 100%;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.computerDisplay__title {
   font-size: 1.5rem;
   color: var(--text-color)
}

.computerDisplay__brand {
   padding-right: 0.3em;
}

.computerDisplay__model {
   font-size: 0.8rem;
}

.computerDisplay__rating {
   font-size: 1rem;
}